.drh-muhammad-iqbal-bekasi-sca-icon {
    position: absolute;
    top: 45px;
    left: 70px;
    border-radius: 213px;
    width: 426px;
    height: 426px;
    overflow: hidden;
    object-fit: cover;
}
.kediri {
    position: absolute;
    top: 90.83px;
    left: 0px;
    font-size: 14px;
    line-height: 26.25px;
    display: flex;
    font-family: Nunito;
    color: #f69946;
    align-items: center;
    width: 50.4px;
    height: 26.3px;
}
.heading-5 {
    position: absolute;
    top: 142px;
    left: 0px;
    line-height: 26.1px;
    font-weight: 800;
    display: flex;
    align-items: center;
    width: 82px;
    height: 26px;
}
.drh-muhammad-ali {
    position: absolute;
    top: 142px;
    left: 75px;
    line-height: 26.1px;
    color: #616161;
    display: flex;
    align-items: center;
    width: 208px;
    height: 26px;
}
.heading-51 {
    position: absolute;
    top: 180px;
    left: 0px;
    line-height: 26.1px;
    font-weight: 800;
    display: flex;
    align-items: center;
    width: 173px;
    height: 26px;
}
.kediri1 {
    position: absolute;
    top: 180px;
    left: 173px;
    line-height: 26.1px;
    color: #616161;
    display: flex;
    align-items: center;
    width: 84px;
    height: 26px;
}
.heading-52 {
    position: absolute;
    top: 218px;
    left: 0px;
    line-height: 26.1px;
    font-weight: 800;
    display: flex;
    align-items: center;
    width: 92px;
    height: 26px;
}
.pendidikan-profesi-dokter {
    position: absolute;
    top: 218px;
    left: 92px;
    line-height: 26.1px;
    color: #616161;
    display: flex;
    align-items: center;
    width: 394px;
    height: 26px;
}
.kedokteran-hewan-universitas {
    position: absolute;
    top: 244px;
    left: 0px;
    line-height: 26.1px;
    color: #616161;
    display: flex;
    align-items: center;
    width: 428px;
    height: 26px;
}
.heading-53 {
    position: absolute;
    top: 282px;
    left: 0px;
    line-height: 26.1px;
    font-weight: 800;
    display: flex;
    align-items: center;
    width: 146px;
    height: 26px;
}
.tahun {
    position: absolute;
    top: 282px;
    left: 142px;
    line-height: 26.1px;
    color: #616161;
    display: flex;
    align-items: center;
    width: 115px;
    height: 26px;
}
.heading-54 {
    position: absolute;
    top: 321px;
    left: 0px;
    line-height: 26.1px;
    font-weight: 800;
    display: flex;
    align-items: center;
    width: 170px;
    height: 26px;
}
.hewan-domestik-dan {
    position: absolute;
    top: 320px;
    left: 169px;
    line-height: 18px;
    color: #667479;
    display: flex;
    align-items: center;
    width: 325px;
    height: 27px;
}
.symbol {
    position: absolute;
    top: -12.6px;
    left: 423.1px;
    line-height: 93.84px;
    display: flex;
    align-items: center;
    width: 0.2px;
    height: 93.8px;
    transform:  rotate(-25deg);
    transform-origin: 0 0;
}
.drh-muhammad-ali1 {
    position: absolute;
    top: 0.4px;
    left: 0px;
    font-size: 40px;
    line-height: 55.2px;
    font-family: Poppins;
    color: #564741;
    display: flex;
    align-items: center;
    width: 467px;
    height: 55.2px;
}
.heading-1 {
    position: absolute;
    top: 27px;
    left: 0px;
    width: 463.9px;
    height: 56px;
    font-size: 68px;
    color: #f4eee4;
    font-family: Inter;
}
.paw-icon {
    position: absolute;
    height: 20.76%;
    width: 14.8%;
    top: 2.43%;
    right: -2.71%;
    bottom: 76.81%;
    left: 87.91%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.container {
    position: absolute;
    width: calc(100% - 649px);
    top: 43px;
    right: 50px;
    left: 599px;
    height: 370px;
    font-size: 18px;
    color: #564741;
}
.click-here {
    position: relative;
    line-height: 24px;
    font-weight: 900;
}
.button-l {
    position: absolute;
    top: 430px;
    left: 799px;
    border-radius: 8px;
    background-color: #ed9455;
    width: 186px;
    height: 37px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px 28px 10px;
    box-sizing: border-box;
}
.button-l1 {
    position: absolute;
    top: 430px;
    left: 591px;
    border-radius: 8px;
    background-color: #ed9455;
    width: 186px;
    height: 37px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px 28px 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.filledpin-on-map {
    position: absolute;
    top: 439px;
    left: 813px;
    width: 20px;
    height: 20px;
    overflow: hidden;
}
.health-icon {
    position: absolute;
    height: 3.29%;
    width: 1.45%;
    top: 85.47%;
    right: 45.64%;
    bottom: 11.24%;
    left: 52.91%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.backgroundshadow {
    position: absolute;
    width: calc(100% - 750px);
    top: 50px;
    right: 375px;
    left: 375px;
    box-shadow: 12px 9px 38px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    height: 516px;
}
.main {
    position: absolute;
    width: calc(100% + 480px);
    top: 186px;
    right: -262px;
    left: -218px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 708px;
    overflow: hidden;
}
.all-rights-reserved {
    position: absolute;
    top: 0px;
    left: calc(50% - 82px);
    line-height: 10px;
}
.all-rights-reserved-wrapper {
    position: absolute;
    top: 44px;
    left: calc(50% - 195px);
    width: 164px;
    height: 10px;
}
.frame-child {
    width: 174px;
    position: relative;
    height: 82.9px;
}
.vector-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.copy {
    position: absolute;
    top: 313px;
    left: calc(50% - 795px);
    width: 1740px;
    height: 82.9px;
    text-align: center;
    font-size: 13px;
}
.apakah-kamu-dokter {
    position: relative;
    line-height: 13px;
    font-weight: 500;
}
.group-icon {
    width: 33px;
    position: relative;
    height: 7px;
    object-fit: cover;
}
.apakah-kamu-dokter-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.daftar {
    width: 91px;
    position: relative;
    line-height: 18.4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.label {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.button {
    width: 152px;
    border-radius: 4px;
    background-color: #ed9455;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    box-sizing: border-box;
}
.address {
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.address-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    text-align: center;
    color: #fff;
}
.daftar-dokter {
    position: absolute;
    top: 78px;
    left: 1129px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13px;
}
.mask-group-icon {
    width: 25px;
    position: relative;
    height: 25px;
    object-fit: cover;
}
.kota-kediri-jawa {
    position: relative;
    line-height: 13px;
    text-transform: capitalize;
}
.petpalscaregmailcom {
    position: relative;
    line-height: 24px;
}
.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
}
.address-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.contact {
    position: absolute;
    top: 78px;
    left: 765px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13px;
}
.tautan {
    position: relative;
    line-height: 13px;
    text-transform: capitalize;
    font-weight: 500;
}
.frame-child8 {
    width: 38px;
    position: relative;
    height: 7px;
    object-fit: cover;
}
.mask-group-icon3 {
    width: 13px;
    position: relative;
    height: 13px;
    object-fit: cover;
}
.beranda {
    position: relative;
    line-height: 13px;
    text-transform: capitalize;
    cursor: pointer;
}
.mask-group-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 6px;
}
.quick-link {
    position: absolute;
    top: 78px;
    left: 530px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.logo-4-icon {
    width: 70px;
    position: relative;
    height: 83.4px;
    object-fit: cover;
}
.cintai-rawat-adopsi {
    width: 306px;
    position: relative;
    line-height: 30px;
    font-weight: 300;
    display: inline-block;
}
.logo-4-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.face-book-icon {
    width: 35px;
    position: relative;
    height: 35px;
    object-fit: cover;
}
.face-book-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.logo {
    position: absolute;
    top: 78px;
    left: 143px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.petpals-care-all {
    position: absolute;
    top: 90.15%;
    left: 41.67%;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
    opacity: 0.65;
}
.footer {
    position: absolute;
    height: 28.82%;
    width: 100%;
    top: 71.18%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #fcf1dc;
    overflow: hidden;
    font-size: 16px;
    color: #000;
}
.logo-8-icon {
    position: absolute;
    top: 17px;
    left: 74px;
    width: 76px;
    height: 91px;
    object-fit: cover;
    cursor: pointer;
}
.usearch-icon {
    width: 20px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.cari {
    position: relative;
    line-height: 20px;
    font-weight: 900;
}
.usearch-parent {
    width: 310px;
    border-radius: 46px;
    background-color: #f4f4f4;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 20px 12px 16px;
    box-sizing: border-box;
    gap: 12px;
}
.mingcuteuser-4-fill-icon {
    width: 50px;
    position: relative;
    height: 50px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
}
.frame-group {
    position: absolute;
    top: 37px;
    left: 869px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 120px;
}
.cari-dokter1 {
    position: relative;
    line-height: 24px;
    cursor: pointer;
}
.beranda-parent {
    position: absolute;
    top: 48px;
    left: 216px;
    width: 605px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 60px;
    cursor: pointer;
    font-size: 20px;
    color: #1c1c1c;
}
.nav-afterlogin {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(247, 219, 167, 0.6);
    border: 1px solid rgba(151, 148, 148, 0.47);
    box-sizing: border-box;
    width: 1440px;
    height: 125px;
    overflow: hidden;
    color: #c5c5c5;
}
.detail-dokter-hewan {
    width: 100%;
    position: relative;
    background-color: #fdfdfd;
    height: 1374px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #fdfdfd;
    font-family: Poppins;
}

