.konsultasi-dokter-child {
    position: absolute;
    top: 172px;
    left: 1px;
    background-color: #f7f9fa;
    width: 1439px;
    height: 1030px;
}
.konsultasi-dokter-item {
    position: absolute;
    top: 39px;
    left: 1779px;
    width: 106.4px;
    height: 91.8px;
}
.konsultasi-dokter-inner {
    position: absolute;
    top: 66.8px;
    left: 1370.26px;
    width: 9px;
    height: 40.3px;
}
.symbol {
    position: absolute;
    top: -12.6px;
    left: 423.1px;
    line-height: 93.84px;
    display: flex;
    align-items: center;
    width: 0.2px;
    height: 93.8px;
    transform:  rotate(-25deg);
    transform-origin: 0 0;
}
.drh-muhammad-ali {
    position: absolute;
    top: 0.4px;
    left: 0px;
    font-size: 40px;
    line-height: 55.2px;
    font-family: Poppins;
    color: #564741;
    display: flex;
    align-items: center;
    width: 467px;
    height: 55.2px;
}
.heading-1 {
    position: absolute;
    top: 39px;
    left: 297px;
    width: 463.9px;
    height: 56px;
    font-size: 68px;
    color: #f4eee4;
    font-family: Inter;
}
.heading-2 {
    position: absolute;
    top: 52px;
    left: 1336px;
    width: 463.9px;
    height: 56px;
}
.symbol1 {
    position: absolute;
    top: 38.09px;
    left: 1301.1px;
    font-size: 68px;
    line-height: 93.84px;
    font-family: Inter;
    color: #f4eee4;
    display: flex;
    align-items: center;
    width: 0.2px;
    height: 93.8px;
    transform:  rotate(-25deg);
    transform-origin: 0 0;
}
.selesai {
    position: absolute;
    top: 57.69px;
    left: 1166px;
    font-size: 40px;
    line-height: 55.2px;
    color: #ed9455;
    display: flex;
    align-items: center;
    width: 142px;
    height: 56px;
    cursor: pointer;
}
.online {
    position: absolute;
    top: 91px;
    left: 297px;
    line-height: 55.2px;
    color: #8f8f8f;
}
.arrow-left-light-icon {
    position: absolute;
    top: 54px;
    left: 39px;
    width: 55px;
    height: 55px;
}
.rectangle-div {
    position: absolute;
    top: 512px;
    left: 67px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    width: 880px;
    height: 262px;
}
.konsultasi-dokter-child1 {
    position: absolute;
    top: 798px;
    left: 65px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 15px 0px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    width: 1021px;
    height: 133px;
}
.konsultasi-dokter-child2 {
    position: absolute;
    top: 961px;
    left: 391px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0px 15px;
    background-color: #fceed5;
    width: 983px;
    height: 90px;
}
.selamat-siang-dok {
    position: absolute;
    top: 971px;
    left: 409px;
    line-height: 55.2px;
    display: flex;
    align-items: center;
    width: 958px;
    height: 70px;
}
.selamat-siang-saya {
    position: absolute;
    top: 804px;
    left: 87px;
    line-height: 55.2px;
    display: flex;
    align-items: center;
    width: 971px;
    height: 111px;
}
.welcome-to-petpals {
    position: absolute;
    top: 539px;
    left: 193px;
    font-size: 32px;
    line-height: 55.2px;
}
.destya-vinka {
    font-weight: 600;
}
.hello-destya-vinka-container1 {
    width: 100%;
}
.hello-destya-vinka-container {
    position: absolute;
    top: 636px;
    left: 76px;
    line-height: 55.2px;
    display: flex;
    align-items: center;
    width: 824px;
    height: 111px;
}
.logo-5-icon {
    position: absolute;
    top: 531px;
    left: 98px;
    width: 60px;
    height: 71.4px;
    object-fit: cover;
}
.line-icon {
    position: absolute;
    top: 617px;
    left: 49px;
    width: 879px;
    height: 2px;
    object-fit: contain;
}
.konsultasi-dokter-child3 {
    position: absolute;
    top: 1091px;
    left: 65px;
    border-radius: 60px;
    background-color: #fff;
    border: 1px solid #a4a4a4;
    box-sizing: border-box;
    width: 1171px;
    height: 80px;
}
.paper-clip-light-icon {
    position: absolute;
    top: 1118px;
    left: 1193px;
    width: 12px;
    height: 26px;
}
.ellipse-div {
    position: absolute;
    top: 1093px;
    left: 1288px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.3);
    width: 74px;
    height: 74px;
}
.send-fill-icon {
    position: absolute;
    top: 1117px;
    left: 1308px;
    width: 24px;
    height: 25px;
    object-fit: cover;
}
.tulis-pesan {
    position: absolute;
    top: 1103px;
    left: 105px;
    line-height: 55.2px;
    color: #868686;
}
.drh-muhammad-iqbal-bekasi-sca-icon {
    position: absolute;
    top: 31px;
    left: 158px;
    border-radius: 213px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
}
.konsultasi-dokter {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1202px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: Poppins;
}

